@using Artisan.II.Client.Common.JsInterop.Core
@inject IDomJsInterop JsInterop

<ArtisanStylesheet/>
<div class="component-base">
    <img onclick="@ChangeValue" src="@BackSvgUri" alt="Background"/>
    <img @ref="@_arrow" class="fetch" onclick="@ChangeValue" src="@ArrowSvgUri" alt="Update"/>
</div>

@code {
    private const string AnimationClass = "fetch";
    private ElementReference _arrow;
    
    private static string BackSvgUri => PathHelper.GetFullPath<ArtisanCheckBox>("svg/fetch_circle.svg"); 
    private static string ArrowSvgUri => PathHelper.GetFullPath<ArtisanCheckBox>("svg/fetch_arrow.svg"); 
    private async Task ChangeValue()
    {
        await JsInterop.ReplayAnimationAsync(_arrow, AnimationClass);
        Action?.Invoke();
        StateHasChanged();
    }

    [Parameter]
    public Action? Action { get; set; } = default!;
}