@page "/Test"
@using Artisan.II.Client.Common.Components
@using Bogus
@inject Faker Faker

<div class="component">
    <ArtisanCheckBox @bind-Value="@Status"/>
</div>
<div class="component">
    <ArtisanUpdateButton Action="@UpdateName"/>
</div>
<div class="component">
    <ArtisanFetchButton Action="@UpdateName"/>
</div>
<div class="component">
    <ArtisanLoader/>
</div>
<div class="component">
    <ArtisanHealth Percent="@Health"/>
</div>
<InputNumber @bind-Value="@Health"/>

@Name

@code {
    private bool Status { get; set; }

    private string Name { get; set; } = string.Empty;

    private void UpdateName()
    {
        Name = Faker.Name.FullName();
        StateHasChanged();
    }

    private int Health { get; set; } = 100;
}